<div class="uk-card-body">
    <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
        {{ if eq .Params.status "canceled" }}
        <div>
            <span class="uk-label uk-label-danger">{{with .Site.Data.l10n.eventstatus.canceled}}{{.}}{{end}}</span>
        </div>
        {{ else }}
        <div class="uk-width-1-5@m uk-height-1-1 uk-visible@m">
            {{ if eq .Params.event.type "schcup" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/schulcup_pokale.jpg);">
                </div>
            </div>
            {{ else if eq .Params.event.type "sbgcup" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/potatoes.png);">
                </div>
            </div>
            {{ else if eq .Params.event.type "trgcup" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/training.png);">
                </div>
            </div>
            {{ else if eq .Params.event.type "relay" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/baton.png);">
                </div>
            </div>
            {{ else }}
            <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle">
                <span class="{{.Type}}-icon">
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
            {{ end }}
        </div>
        {{ end }}
        <div class="uk-width-4-5@m uk-height-1-1">
            <div class="uk-container">
                <h5 class="uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">
                    <a title="{{ .Title }}" class="uk-link-reset" href="{{ .Permalink }}">{{ .Title }}
                        {{ if .Params.event.name_amend }}
                        ({{ .Params.event.name_amend | markdownify }})
                        {{ end }}
                    </a>
                </h5>
                <div>
                    {{ $outputs := .OutputFormats }}
                    {{ $infolinks := .Params.resource_links.infos }}
                    {{ $resulinks := .Params.resource_links.results }}
                    {{ $anneId := .Params.anne_id | default 0 }}
                    {{ $isActive := eq .Params.status "active" }}
                    {{ $isDone := eq .Params.status "done" }}
                    <div>
                        {{ if gt $anneId 0 }}
                            <span style="color: rgb(48, 115, 179);">
                                <i class="fas fa-link"></i>
                                <a href="http://www.oefol.at/anne?p=1&q=3&id={{$anneId}}">Veranstaltungsdetails</a>
                            </span>
                        {{ end }}
                        {{ $infoResources := .Resources.Match "infos/*" }}
                        {{ partial "event_resources_list_flat" (dict "ctx" $infoResources "outputs" $outputs "links" $infolinks) }}
                        <hr class="uk-divider-small">
                    </div>
                    <div>
                        {{ if ($isActive) }}
                            {{ partial "functions/event_liveresult_link" (dict "id" .Params.liveresultat_id) }}
                        {{ end }}
                        
                        {{ if ($isDone) }}
                            {{ with .Resources.Match "results/*" }}
                                {{ partial "event_resources_list_flat" (dict "ctx" . "outputs" $outputs "links" $resulinks) }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>