<!-- TODO: planned, anounced, done events -->
<table class="uk-table uk-table-divider uk-table-striped">
    <tbody>
        <tr><td>Veranstalter</td><td>{{ .Params.organiser | default "SOLV" }}</td></tr>
        <tr><td>Durchführung</td><td>{{ .Params.implementation | default "SOLV" }}</td></tr>
        {{ if (not (or (eq .Params.status "planned") (eq .Params.status "canceled")))}}
        <tr>
            <td>Treffpunk</td>
            <td>
                {{ partial "functions/map_link" (dict "ctx" .Params.meeting) }}
                ab <time>
                        {{ $mtime := time .Date }}
                        {{ $duration := time.Duration "minute" .Params.meeting.time_minutes }}
                        {{ $mtime2 := $mtime.Add ($duration) }}
                        {{ dateFormat .Site.Params.time_format_hhmm $mtime2 }}
                    </time>
            </td>
        </tr>        
        <tr>
            <td>Nullzeit</td>
            <td>{{ dateFormat .Site.Params.time_format_hhmm .Date }}{{ if isset .Params "start_amend"}} {{ .Params.start_amend | markdownify }}{{ end }}</td></tr>
        {{ if isset .Params "end"}}
        <tr>
            <td>Zielschluss</td>
            <td>
                <time>
                    {{ $mtime := time .Date }}
                    {{ $duration := time.Duration "minute" .Params.end }}
                    {{ $mtime2 := $mtime.Add ($duration) }}
                    {{ dateFormat .Site.Params.time_format_hhmm $mtime2 }}
                </time>
            </td>
        </tr>
        {{ end }}
        <tr><td>Wettkampfart</td><td>{{ .Params.event.form }}</td></tr>
        {{ if not (eq .Params.official.event "") }}
        <tr><td>Wettkampfleiter</td><td>{{ .Params.official.event }}</td></tr>
        {{ end }}
        <tr><td>Bahnleger</td><td>{{ .Params.official.course }}</td></tr>
        {{ if not (eq .Params.official.inspection "") }}
        <tr><td>Kontrolle</td><td>{{ .Params.official.inspection }}</td></tr>
        {{ end }}
        {{ if or (eq .Params.event.type "sbgcup") (eq .Params.event.type "trgcup") }}
        <tr><td>Karte</td><td>{{ .Params.map.name }} / M {{ .Params.map.scale }} / AE {{ .Params.map.equidistance }} / Stand {{ .Params.map.update }}{{if not (eq .Params.map.format "")}} / {{.Params.map.format}} {{end}}{{if not (eq .Params.map.hints "")}} / {{.Params.map.hints}} {{end}}</td></tr>
        <tr><td>Postenbeschreibung</td><td>{{ .Params.control_point_description }}</td></tr>
        <tr>
            <td>Bahndaten</td>
            <td>
                {{ if not .Params.course.valid }}
                    {{ if not (eq .Params.anne_id 0) }}
                        Siehe Ausschreibung.
                    {{ else }}
                        Noch nicht bekannt.
                    {{ end }}
                {{ else }}
                    <table class="uk-table uk-table-divider uk-table-small">
                    {{ range $i, $c := .Params.course.lenghts }}
                        <tr>
                            {{ range $e := $c }}
                                <td>{{$e}}</td>
                            {{ end }}
                        </tr>
                    {{ end }}
                    </table>
                </td>
                {{ end }}
        </tr>
        <tr><td>Nennungen</td><td>{{ partial "event_entry" . }}</td></tr>
        {{ end }}
        {{ if not (eq .Params.hints "") }}
        <tr><td>Informationen</td><td>{{ .Params.hints | markdownify }}</td></tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
