<!--HEADER-->
<header id="header">
  <div class="uk-container uk-container-expanded">
    <div class="uk-flex">
      <!-- logo -->
      <div class="uk-flex-none">
        <a href="{{ .Site.Home.RelPermalink }}" class="uk-logo">
          <img width="100" height="56" src="/images/solv-logo-neu.svg" uk-svg></img>
        </a>
      </div>
      <!-- title -->
      <div class="uk-flex-auto uk-light">
        <div class="uk-visible@m uk-text-center solv-title uk-text-middle">{{.Site.Title}}</div>
        <div class="uk-hidden@m uk-text-center solv-title uk-text-middle">{{.Site.Params.Short_Title}}</div>
      </div>
      <div class="uk-flex-none">
        <a href="#mobile-menu" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon
          uk-toggle="target: #mobile-menu">
        </a>
      </div>
    </div>
  </div>
</header>
<!--/HEADER-->