<div class="uk-section uk-section-default uk-section-xsmall uk-section-primary uk-preserve-color">
	<div class="uk-container">
		<h4 class="uk-heading-line uk-text-bold"><span>{{ with .Site.Data.l10n.articles.hero }} {{ . }} {{ end }}</span></h4>
		{{ $heroList := where .Site.RegularPages ".Params.hero" "!=" nil }}
		<ul class="uk-list">
			{{ range $heroList }}
				<li class="uk-text-bolder">
					<span uk-icon="icon: info; ratio: 1.8"></span>
					<span class="uk-text-uppercase">{{.Type}}</span>
					- <a class="uk-link-reset event__item" href="{{ .Permalink }}">{{.Title}}</a></li>
			{{ end }}
		</ul>
	</div>
</div>